<!DOCTYPE html>
<meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
  </head>
  <body>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
    </div>
    <div class="span10">
<!-- *** BEGIN page content *** -->

