body {
	padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.vehicle-list {
	list-style: none;
	background-color: #dceaf4;
	border-radius: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}
.vehicle-li {
	display: inline;
	padding: 2px;
}

.hover {
    background-color: #ffee99 !important;
 }

.edit-form {
	display:none;
}


#header_above {
	min-height: 50px;
	min-width: 100%;
}

#logo {
	float: left;
}

#user-info {
	float:right;
}

#login {
	float: center;
}

.vehicle-div {
	padding: 3px;
	margin-bottom: 20px;
	min-height: 220px;
}

.vehicle-image {
	float:left;
	margin: 3px 3px 3px 3px;
}

.vehicle-info {
	padding: 2px;
	margin: 3px 3px 3px 3px;
}

.alter-buttons {
	float: right;
	margin-top: 100px;
}

.alter-form {
	margin-top: 150px;
}

.admin-panel {
	border-top: 1px solid #D8D8D8;
	width: 100%;
}

.right-panel {
	border-left: 1px solid #D8D8D8;
	padding-left: 5px;
}

.new-vehicle {
	float: right;
	margin-top: 10px;
}

.user-info {
	float: right;
	margin-top: 10px;
	margin-right: 40px;

}

.logo {
	float: left;
}